---
---

@import '{{ site.theme }}';

/* append your custom style below */

.var-highlight{
  color: #c678dd;
}

.string-highlight{
  color: #80a36b;
}

.def-highlight{
  color: #4d9ca8;
}

.class-highlight{
  color: #ceae72;
}

.container {
   text-align: center;
 }

.container pre {
  display: inline-block;
  text-align: left;
 }

#typewriter{
    font-size: 1.5vw;
    margin: 0;
    font-family: "Courier New";

    &:after{
      content: "|";
      animation: blink 500ms linear infinite alternate;
    }
}

@-webkit-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
