---
layout: page
---

{% include lang.html %}
{% include typewriter.html %}

<pre id="typewriter">
  <span class="var-highlight">var</span> object = {
      name: <span class="string-highlight">'Kelsey McBratney'</span>,
      type: <span class="string-highlight">'Software Engineer'</span>,
      location: <span class="string-highlight">'Denver, Colorado'</span>,
      properties:[<span class="string-highlight">'Python'</span>,
                  <span class="string-highlight">'AWS'</span>,
                  <span class="string-highlight">'Kubernetes'</span>];
}; </pre>
